.d-header>.wrap {
    box-sizing: border-box;
    margin: 20px;
    max-width: initial;
}

.d-header #site-logo {
    vertical-align: middle;
    height: 25px;
    margin-top: -7px;
    width: 92px;
}

.d-header-icons, .edit-topic, .topic-footer-button, .topic-map, .topic-footer-mobile-dropdown, .expand-post {
    display: none !important;
}

html {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
}

.btn {
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    border-radius: 6px;
}

.btn:active, .btn.btn-active {
    // background-image: none;
    // background-color: initial;
}

.seforim-app-iframe, iframe[src^='https://seforim.app'] {
    border: none;
}